<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MasterSuite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="listeners.ExtentTestNGReporter" />
    </listeners>

    <suite-files>
        <suite-file path="suite-xml/pw-api.xml" />
        <suite-file path="suite-xml/pw-ui.xml" />
        <suite-file path="suite-xml/pw-amzn.xml" />
    </suite-files>
</suite>
